---
title: domain
---

%section.intro
  .intro__item
    %h1.intro__title= domain
%section.project
  - if data.try(:projects).present?
    - data.projects.each_value do |project|
      - if project.try(:domains).present?
        - project.domains.each do |tag|
          - if tag == domain
            = partial "partials/project", locals: { project: project }
