!!!
%html
  %head
    = partial "partials/head_meta"
    %title Content Manager
    / Include the stylesheets from your site here
    %link{href: "https://unpkg.com/netlify-cms@^1.0.3/dist/cms.css", rel: "stylesheet"}
    / Include a CMS specific stylesheet here
  %body
    %script{src: "https://unpkg.com/netlify-cms@^1.0.3/dist/cms.js"}
