---
title: The Art of Conceptual Engineering
---

.intro
  .intro__item
    %h1.intro__title= data.intro.try(:title)
    %p.intro__text= data.intro.try(:text)
%section.method
  - if data.try(:strategies).present?
    - data.strategies.each do |id, strategy|
      = partial "partials/method", locals: { strategy: strategy }
